body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --second-color:rgb(77, 74, 74);
}
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth ;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.component {
    text-align: center;
}
.component h1{
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}
.component h1::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.component h1::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
.component p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: #777;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
.header {
    position: absolute;
    left: 0;
    width: 100%;
}
.landing .than span{
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 50%;
}  
.landing .than span:first-child{
    left: 20px;
    z-index: 111111;
}
.landing .than span:last-child{
    right:20px;
    z-index: 11111;
}
.header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    text-transform: capitalize;
}
.header .container .nav::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: white;
    
}
.header .container .nav .logo{
    flex-basis: 20%;
}
.header .container .nav .links {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex-basis: 60%;
}
.header .nav ul {
    display: flex;
    padding-right: 30px;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
.header li a{
    text-decoration: none;
    color: white;
    padding-bottom: 37px ;
    position: relative;
    z-index: 222;
}
.header .container .nav .links ul .active {
    color: var(--transparent-color);
    border-bottom: 1px solid var(--transparent-color);
}
.header  a:hover{
    color: var(--transparent-color);
    border-bottom: 1px solid var(--transparent-color);
}
.header .container .nav .links span{
    display: none;
}
.header .container .nav .links i{
    position: relative;
    font-size: 20px;
}
.header .container .nav .links i::after{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 1px;
    background-color: white;
}
@media (max-width:990px) {
    .header .container .nav .links span{
       display: block;
       color: white;
       margin-right: 40px;
    }
    .header .container .nav ul {
     list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    right: 0;
    min-width: 100px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    }
    .header .container .nav ul li{
        padding: 10px;
    }
    .header .container .nav .links span:hover+ul {
        display: block;
        
    }
}
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
    z-index: -1;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    line-height: 1.5;
}
@media (max-width: 767px) {
.landing .text {
    width: 100%;
}
}
.landing .circle{
    display: flex;
    justify-content: space-between;
    position:absolute;
    bottom: 50px;
    left: 50%;
}
.landing .circle span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: transparent;
}
.landing .circle span:nth-child(2) {
    background-color: var(--main-color);
    border-color:var(--main-color) ;
} 
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.services .services-container .box{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    max-width: 100%;
}
@media (max-width: 767px) {
    .services .services-container .box {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
    }
}
.services .container i{
    font-size: 40px;
    margin-right: 20px;
}
.services .container .text p{
    color: var(--second-color);
    text-align: left;
}
.services .container .text h3 {
    color: var(--main-color);
    font-weight: 800;
}
@media (max-width:992px) {
    .mobile {
        flex-direction: column-reverse;
        overflow: hidden;
    }
    .mobile img{
        margin-left: -300px;
        max-height: 100%;
    }
    .mobile .text{
        left: 0;
        min-width: 100%;
    }
}
.mobile {
    min-height: 100vh;
    background-color: #1f2021;
    background-image:url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.mobile::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.mobile img{
    position: relative;
    bottom: -200px;
    left: 150px;
}
.mobile .text p{
    position: relative;
}
.mobile .text p::after{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    color: white;
    position: absolute;
    top: 0;
    left: -25px;
}
.mobile .text {
    position: relative;
    right: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--transparent-color);
    width: 50%;
    height: 65%;
    margin-left: 10px;
    color: white;
    text-transform: capitalize;
}
.mobile .text h3{
    margin-left: 30px;
    font-size: 25px;
    text-transform: uppercase;
}
.mobile .text .one, .two, .three, .four{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.mobile .text i{
    margin: 15px;
}
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio  .menu{
    text-align: center;
    padding: 30px;
}
.portfolio  .menu span{
    padding: 15px;
    text-transform: capitalize;
}
.portfolio  .menu span:first-child{
    background-color: var(--main-color);
    color: white;
}
.portfolio  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
}
.portfolio-container .shuffle{
    height: 250px;
    overflow: hidden;
}
.portfolio-container .shuffle img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.portfolio-container .shuffle .text{
    position:relative;
    visibility: hidden;
    background-color: white;
    bottom: 81px;
    text-align: center;
}
.portfolio-container .shuffle h3{
    font-weight: normal;
}
.portfolio-container .shuffle .text p{
    color: var(--main-color);
    margin-bottom: 15px;
}
.portfolio-container .shuffle:hover .text{
    visibility: visible;
}
.portfolio-container .shuffle:hover img{
    transform: rotate(3deg) scale(1.1);

}
.portfolio .more {  
    display: flex;
    justify-content: center;
    padding: 30px;
}
.portfolio .more a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video{
    position: relative;
}
.video video{
    width: 100%;
}

.video .text-container{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 50px;
}
.video .text-container h3 {
    font-size: 30px;
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.video .text-container p{
    margin-bottom: 30px;
}
.video .text-container button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
  }
@media (max-width:992) {
    .video .text-container{
        min-height: 60%;
    }
}
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about-container .image{
    width: 50%;
    margin: 0 auto;
}
.about-container .image img{
    width: 100%;
}
.about-container .statistics {
    background-color: #1f2021;
    background-image: url("../images/stats.png");
    background-size: cover;
    position: relative;
    margin-top: -100px;
    padding: 50px;
}
.about-container .statistics::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
}
.about-container .statistics .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    column-gap: 50px;
    background-color: var(--transparent-color); 
    color: white;
    text-align: center;
    position: relative;
}
@media (max-width:992px) {
    .about-container .statistics{
        margin-top: -30px;
    }
}
.about-container .statistics .container div i {
    background-color: black;
    font-size: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin:10px auto 15px;
}
.about-container .statistics .container div .number{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.about-container .statistics .container div .text{
    text-transform: capitalize;
    color: white;
}
.skills .container{
    display: flex;
    gap: 10%;
}
@media (max-width:992px) {
    .skills .container {
        flex-direction: column;
    }
}
.skills .container .testimonials {
    flex-basis: 40%;
}
.skills .container .percentage{
    flex-basis: 50%;
}
.testimonials .head, .percentage .head{
    text-align: center;
    max-width: 500px;
    line-height: 2;
}
.testimonials .head h3, .percentage .head h3{
    text-transform: uppercase;
    font-weight: normal;
}
.testimonials .head p, .percentage .head p{
    color: #777;
}
.testimonials span{
    display: flex;
    justify-content: flex-end;
}
.skills .container .testimonials  .comment img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 40px;
}
.skills .container .testimonials  .comment  {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    line-height: 2;
}
.skills .container .testimonials .circle{
    display: flex;
    justify-content:center;
    padding-top: 20px;
}
.skills .container .testimonials .circle span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    background-color:transparent;
    border: 1px solid #777;
    margin-right: 1px;
}
.skills .container .testimonials .circle span:nth-child(2) {
    background-color: var(--main-color);
    border-color:var(--main-color) ;
}
.skills .percentage .skills-percentage h4{
    font-weight: normal;
    text-transform: uppercase;
}
.percentage .skills-percentage .prog{
    background-color: #DDD;
    height: 40px;
}
.percentage .skills-percentage .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.percentage .skills-percentage .prog span::before{
    content: attr(data-progress);
    position: absolute;
    right: -15px;
    top: -40px;
    padding: 4px 0 ;
    text-align: center;
    width:40px;
    background-color:black;
    color:white;
}
.quote{
    height: 40vh;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
.quote::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../images/quote.jpg");
    background-size: cover;
    filter: brightness(20%);
    z-index: -1;
}
.quote .quote-text h5 {
    font-size: 25px;
    max-width: 90%;
}
.quote .quote-text p {
    text-transform: uppercase;
}
.quote .quote-text {
    color: white;
    text-align: center;
}
@media (max-width:767px) {
    .quote .quote-text{
        line-height: 2;
    }
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 5px;
}
.pricing{
    padding-top: var(--section-padding);
}
.pricing .container>div::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .container>div{
    background-color: rgb(248, 246, 246);
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.pricing .container>div::after{
    content: "";
    position:absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .container>div .head{
    text-transform: uppercase;
    position: relative;
}
.pricing .container>div .head::after{
    content: "";
    position:absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .container>div .head p{
    font-size: 30px;
    font-weight: normal;
}
.pricing .container>div .head .number::before{
    content: "$";   
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    left:-10px;
}
.pricing .container>div .head .number{
    font-size: 80px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}
.pricing .container>div .head .number::after{
    content: "/mo";   
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right:-50px;
    bottom:-10px ;
}
.pricing .container .body{
    margin-left: 45%;
    transform: translateX(-50%);
    text-transform: capitalize;
}
.pricing .container ul{
    list-style: none;
}
.pricing .container ul li{
    padding-top: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pricing .container ul li:not(:last-child)::after{
    content: "";
    position:absolute;
    bottom:-10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .container .button{
    border: var(--main-color) 1px solid;
    padding: 20px 20px ;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}
.pricing .container .button a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(4, 4, 241, 0.747);
    text-transform: capitalize;
}
.pricing .contact-us {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    text-transform: capitalize;
    text-align: center;
    font-weight: normal;
    width: fit-content;
}
.pricing .contact-us a {
    text-decoration: none;
    padding: 20px 20px;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--main-color);
    color: white;
    margin: 10px auto;
}
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width:992px) {
    .subscribe .container{
        flex-direction: column;
        justify-content: space-between;
    } 
    .subscribe .container p{
        line-height: 1.5;
    }
}
.subscribe .container p {
    width: 50%;
    max-width: 100%;
}
.subscribe .container form{
    display: flex;
    flex-basis: 50%;
    margin-right: 20px;
    position: relative;
}
.subscribe .container form i{
    position: absolute;
    top: 50%;
    left: 20px;
}
.subscribe .container input[type="email"]{
    border: 1px solid #777;
    background-color: transparent;
    flex-basis: 70%;
    border-right: none;
}
.subscribe .container input::placeholder{
    padding-left: 50px;
    color: white;
}
.subscribe .container input[type="submit"]{
    border: 1px solid #777;
    flex-basis: 30%;
    border-left: none;
    background-color: var(--main-color);
}
.contact-us{
    padding-top: var(--section-padding);
    padding-bottom: calc( var(--section-padding) - 50px);
}
.contact-us .container {
    display: flex;
    justify-content: space-between;
}
.contact-us .container .form{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 70%;
}
.contact-us .container .data h5 {
    font-size: 20px;
}
.contact-us .container .form input{
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    display: block;
}
.contact-us .container textarea {
    height: 200px;
    outline: none;
    padding: 20px;
    width: 100%;
    display: block;
}
.contact-us .container .data{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-top: -30px;
}
.contact-us .container .data p{
    color: #777;
}
.contact-us .container .data .address {
    line-height: 1.5;
}
.contact-us .container .data .number {
    line-height: 1.5;
}
@media (max-width:767px) {
    .contact-us .container {
        flex-direction: column;
        max-width: 90%;
    }
    .contact-us .container .data{
        order: -1;
        text-align: center;
    }
}
.contact-us .container .form .contact-us{
    display: flex;
    justify-content: flex-end;
}
.contact-us .container .form .contact-us a{
    padding: 20px 20px ;
    background-color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}
.footer{
    position: relative;
    height: 50vh;
}
.footer::before{
    content: "";
    width: 100%;    
    height: 100%;
    background-image: url("../images/subscribe.jpg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
}
.footer .container {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-flow: column wrap;
    height: 100%;
    align-items: center;
}
.footer .container hr{
    width: 20%;
}
.footer .container .kasper{
    word-spacing: 2px;
}
.footer .container span {
    color: var(--main-color);
}


